@model SimpleApplication.Models.Configuration

@{
    ViewData["Title"] = "Edit";
    Layout = null;

}
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return ajaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ConfigName" class="control-label"></label>
                <input asp-for="ConfigName" class="form-control"/>
                <span asp-validation-for="ConfigName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfigValue" class="control-label"></label>
                <input asp-for="ConfigValue" class="form-control" />
                <span asp-validation-for="ConfigValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application" class="control-label"></label>
                <input asp-for="Application" class="form-control" />
                <span asp-validation-for="Application" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger mt-2">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
