@model IEnumerable<SimpleApplication.Models.Configuration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a onclick="showInPopup('@Url.Action("AddOrEdit","Configuration",null,Context.Request.Scheme)','Create Configuration')" class="btn btn-info text-white">Create</a>
<div id="view-all">
    @await Html.PartialAsync("_ViewAll")
</div>