@model IEnumerable<SimpleApplication.Models.Configuration>

@{
    ViewData["Title"] = "Index";
}
<div class="card mt-3">
<h1 class="m-3">Configurations</h1>

<a onclick="showInPopup('@Url.Action("AddOrEdit","Configuration",null,Context.Request.Scheme)','Create Configuration')" class="btn btn-success w-25 m-3">Create</a>
<div id="view-all" class="m-3">
    @await Html.PartialAsync("_ViewAll")
</div>
</div>